<?xml version="1.0" encoding="UTF-8"?>
<configuration>
     <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                ▶  %-5level %d{HH:mm:ss.SSS} [%thread] %logger[%method:%line] - %msg%n
            </pattern>
        </encoder>
    </appender>
    
    <appender name="consoleForLoginInterceptor" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                ▷  %-5level %d{HH:mm:ss} %logger[%method:%line] - %msg%n
            </pattern>
        </encoder>
    </appender>
    
    <logger name="jdbc.sqlonly" additivity="false"> 
        <level value="INFO"/> 
    </logger>
     
    <logger name="jdbc.resultsettable" additivity="false"> 
        <level value="OFF"/> 
    </logger> 
	
	<logger name="jdbc.resultset" additivity="false"> 
        <level value="OFF"/> 
    </logger> 
	
	<logger name="java.sql.ResultSet" additivity="false"> 
        <level value="OFF"/> 
    </logger> 
    
    <logger name="org.springframework" level="info"/>
    <logger name="com.nhn.gan" level="debug"/>
    
    <root level="debug">
        <appender-ref ref="console"/>
    </root>
</configuration>
