<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
		
<configuration>
	<settings>
		<setting name="defaultExecutorType" value="REUSE"/>
		<setting name="useGeneratedKeys" value="true"/>
	</settings>
	<typeAliases>
		<typeAlias alias="CommonVo" type="com.nhn.gan.domain.CommonVo"/>
		<typeAlias alias="DocumentVo" type="com.nhn.gan.domain.DocumentVo"/>
		<typeAlias alias="AnnotationVo" type="com.nhn.gan.domain.AnnotationVo"/>
		<typeAlias alias="HistoryVo" type="com.nhn.gan.domain.HistoryVo"/>
		<typeAlias alias="EntityVo" type="com.nhn.gan.domain.EntityVo"/>
		<typeAlias alias="RelationVo" type="com.nhn.gan.domain.RelationVo"/>
		<typeAlias alias="CollectionVo" type="com.nhn.gan.domain.CollectionVo"/>
		<typeAlias alias="UserVo" type="com.nhn.gan.domain.UserVo"/>
		<typeAlias alias="StatisticsVO" type="com.nhn.gan.domain.StatisticsVO"/>
		<typeAlias alias="MediaActivityVo" type="com.nhn.gan.domain.MediaActivityVo"/>
		<typeAlias alias="MediaCategoryVo" type="com.nhn.gan.domain.MediaCategoryVo"/>
		<typeAlias alias="MediaVo" type="com.nhn.gan.domain.MediaVo"/>
		<typeAlias alias="MediaTagDescVo" type="com.nhn.gan.domain.MediaTagDescVo"/>
	</typeAliases>
</configuration>